body::before {
  content: "";
  position: fixed;
top:30px; left:0; opacity:0.5; z-index:-1;"
background-image: url('https://github.com/Almighwary/Almighwary/blob/main/src/site/img/mountains%20with%20wind%20currents%203.png?raw=true');"
}
