.callout[data-callout="article"] .callout-icon::before {
  content: "📑";
}
.callout[data-callout="sawtiat"] .callout-icon::before {
  content: "🔊";
}
.callout[data-callout="video"] .callout-icon::before {
  content: "📺";
}

.callout[data-callout="article"] {
  background-color: rgba(255, 165, 42, 0.3);
 
}

.callout[data-callout="video"] {
  background-color: rgba(163, 38, 42, 0.3);

}

.callout[data-callout="sawtiat"] {
  background-color: rgba(123, 238, 147, 0.3);

}

.callout[data-callout="article"] .callout-icon svg {
  display: none;
}

.callout[data-callout="video"] .callout-icon svg {
  display: none; 
}

.callout[data-callout="sawtiat"] .callout-icon svg {
  display: none; 
}
.callout[data-callout="video"] .callout-title,
.callout[data-callout="video"] .callout-content {
  color: red;
}
.callout[data-callout="sawtiat"] .callout-title,
.callout[data-callout="sawtiat"] .callout-content {
  color: green;
}
.callout[data-callout="article"] .callout-title,
.callout[data-callout="article"] .callout-content {
  color: orange;
}




