.callout[data-callout="article"] .callout-icon::before {
  content: "📑";
}
.callout[data-callout="sawtiat"] .callout-icon::before {
  content: "🔊";
}
.callout[data-callout="video"] .callout-icon::before {
  content: "📺";
}

.callout[data-callout="article"] {
  background-color: rgba(255, 165, 42, 0.5);
  color: #ffa52a;
}

.callout[data-callout="video"] {
  background-color: rgba(163, 38, 42, 0.5);
  color: rgb(163, 38, 42);/* light yellow */
}

.callout[data-callout="sawtiat"] {
  background-color: rgba(123, 238, 147, 0.5);
  color: rgb(123, 238, 147);/* light yellow */
}

.callout[data-callout="article"] .callout-icon svg {
  display: none; /* hide default icon */
}

.callout[data-callout="video"] .callout-icon svg {
  display: none; /* hide default icon */
}

.callout[data-callout="sawtiat"] .callout-icon svg {
  display: none; /* hide default icon */
}
